.THIS th{
    width:100%; 
    text-align: center; 
    padding-bottom: 3%
}

.THIS .anchoBoton{
    width: 100%;
}

.THIS .anchoBoton2{
    width: 98%;
}
.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}