.THIS .divMensajeConfirmacion{
    
    text-align: center;
}
.THIS .anchoBoton{
    
    width: 100%;
}
.THIS .titulo{
    margin-bottom: 2%;
}

.THIS .selectedButton {
    background-color: blue; 
    color:white;
    width: 100%;
}